.term-of_use {
  .page-header {
    font-size: 24px;
    margin-top: 25px;
    a {
      color: #000000;
    }
  }
  p {
    text-align: justify;
    font-size: 14px;
    line-height: 2.5rem;
  }
  li {
    line-height: 2.5rem;
  }
  .contact {
    a {
      text-decoration: underline;
    }
  }
}
